[Unit]
Description=The Apache ZooKeeper
After=network.target
ConditionPathExists=/etc/zookeeper/conf/zoo.cfg
ConditionPathExists=/etc/zookeeper/conf/log4j.properties
After=NetworkManager.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/zookeeper
WorkingDirectory=/usr/lib/zookeeper
ExecStart=/usr/bin/zookeeper-server start
PIDFile=/var/run/zookeeper/zookeeper_server.pid
SuccessExitStatus=143
Restart=on-failure
RestartSec=20
User=zookeeper
Group=zookeeper
LimitNOFILE=32768
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
