[Unit]
Description=The Apache ZooKeeper
After=network.target
ConditionPathExists=/etc/zookeeper/conf/zoo.cfg
ConditionPathExists=/etc/zookeeper/conf/log4j.properties
After=NetworkManager.target

[Service]
Environment="ZOOCFGDIR=/etc/zookeeper/conf"
EnvironmentFile=-/etc/default/zookeeper
SyslogIdentifier=zookeeper
WorkingDirectory=/usr/lib/zookeeper
ExecStart=/usr/lib/zookeeper/bin/zkServer.sh start-foreground
PIDFile=/var/run/zookeeper/zookeeper-server-zookeeper.pid
Restart=on-failure
RestartSec=20
User=zookeeper
Group=zookeeper
LimitNOFILE=32768
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
