[Unit]
Description=The Hadoop resourcemanager daemon
After=network.target
After=NetworkManager.target

[Service]
Type=simple
ExecStart=/usr/lib/hadoop/libexec/hadoop-yarn-resourcemanager start
ExecStop=/usr/lib/hadoop/libexec/hadoop-yarn-resourcemanager stop
PIDFile=/var/run/hadoop-yarn/yarn-yarn-resourcemanager.pid

#######################################
# Note: Below are cgroup options
#######################################
#Delegate=true
#CPUAccounting=true
#CPUShares=1024

[Install]
WantedBy=multi-user.target
