[Unit]
Description=The Hadoop httpfs daemon
After=network.target
After=NetworkManager.target

[Service]
Type=simple
ExecStart=/usr/lib/hadoop/libexec/hadoop-httpfs start
ExecStop=/usr/lib/hadoop/libexec/hadoop-httpfs stop
PIDFile=/var/run/hadoop-httpfs/hadoop-httpfs-httpfs.pid

#######################################
# Note: Below are cgroup options
#######################################
#Delegate=true
#CPUAccounting=true
#CPUShares=1024

[Install]
WantedBy=multi-user.target
