[Unit]
Description=The Hadoop HDFS secondarynamenode daemon
After=network.target
After=NetworkManager.target

[Service]
Type=simple
ExecStart=/usr/lib/hadoop/libexec/hadoop-hdfs-secondarynamenode start
ExecStop=/usr/lib/hadoop/libexec/hadoop-hdfs-secondarynamenode stop
PIDFile=/var/run/hadoop-hdfs/hadoop-hdfs-secondarynamenode.pid
SuccessExitStatus=143

#######################################
# Note: Below are cgroup options
#######################################
#Delegate=true
#CPUAccounting=true
#CPUShares=1024

[Install]
WantedBy=multi-user.target
