[Unit]
Description=The Hadoop historyserver daemon
After=network.target
After=NetworkManager.target

[Service]
Type=simple
ExecStart=/usr/lib/hadoop/libexec/hadoop-mapreduce-historyserver start
ExecStop=/usr/lib/hadoop/libexec/hadoop-mapreduce-historyserver stop
PIDFile=/var/run/hadoop-mapreduce/mapred-mapred-historyserver.pid

#######################################
# Note: Below are cgroup options
#######################################
#Delegate=true
#CPUAccounting=true
#CPUShares=1024

[Install]
WantedBy=multi-user.target
