[Unit]
Description=The Hadoop timelineserver daemon
After=network.target
After=NetworkManager.target

[Service]
Type=simple
ExecStart=/usr/lib/hadoop/libexec/hadoop-yarn-timelineserver start
ExecStop=/usr/lib/hadoop/libexec/hadoop-yarn-timelineserver stop
PIDFile=/var/run/hadoop-yarn/yarn-yarn-timelineserver.pid
SuccessExitStatus=143

#######################################
# Note: Below are cgroup options
#######################################
#Delegate=true
#CPUAccounting=true
#CPUShares=1024

[Install]
WantedBy=multi-user.target
