[Unit]
Description=The Hadoop HDFS zkfc daemon
After=network.target
After=NetworkManager.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/hadoop-hdfs
EnvironmentFile=-/etc/sysconfig/hadoop-hdfs-zkfc
ExecStart=/usr/lib/hadoop/sbin/hadoop-daemon.sh --config /etc/hadoop/conf start zkfc
ExecStop=/usr/lib/hadoop/sbin/hadoop-daemon.sh --config /etc/hadoop/conf stop zkfc
User=hdfs
Group=hadoop
PIDFile=/var/run/hadoop-hdfs/hadoop-hdfs-zkfc.pid
LimitNOFILE=32768
LimitNPROC=65536
SuccessExitStatus=143

#######################################
# Note: Below are cgroup options
#######################################
#Delegate=true
#CPUAccounting=true
#CPUShares=1024

[Install]
WantedBy=multi-user.target
