[Unit]
Description=The Hadoop HDFS journalnode daemon
After=network.target
After=NetworkManager.target

[Service]
Type=simple
ExecStart=/usr/lib/hadoop/libexec/hadoop-hdfs-journalnode start
ExecStop=/usr/lib/hadoop/libexec/hadoop-hdfs-journalnode stop
PIDFile=/var/run/hadoop-hdfs/hadoop-hdfs-journalnode.pid

#######################################
# Note: Below are cgroup options
#######################################
#Delegate=true
#CPUAccounting=true
#CPUShares=1024

[Install]
WantedBy=multi-user.target
