[Unit]
Description=The Hadoop HDFS datanode daemon
After=network.target
After=NetworkManager.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/hadoop
ExecStart=/etc/init.d/%i-$HADOOP_VERSION start
ExecStop=/etc/init.d/%i-$HADOOP_VERSION stop
PIDFile=/var/run/hadoop-hdfs/hadoop-hdfs-datanode.pid

#######################################
# Note: Below are cgroup options
#######################################
#Delegate=true
#CPUAccounting=true
#CPUShares=1024

[Install]
WantedBy=multi-user.target
