[Unit]
Description=The Hadoop proxyserver daemon
After=network.target
After=NetworkManager.target

[Service]
Type=simple
ExecStart=/usr/lib/hadoop/libexec/hadoop-yarn-proxyserver start
ExecStop=/usr/lib/hadoop/libexec/hadoop-yarn-proxyserver stop
PIDFile=/var/run/hadoop-yarn/yarn-yarn-proxyserver.pid

#######################################
# Note: Below are cgroup options
#######################################
#Delegate=true
#CPUAccounting=true
#CPUShares=1024

[Install]
WantedBy=multi-user.target
