[Unit]
Description=The HBase thrift daemon
After=network.target
After=NetworkManager.target

[Service]
Type=simple
ExecStart=/usr/lib/hbase/libexec/hbase-thrift start
ExecStop=/usr/lib/hbase/libexec/hbase-thrift stop
PIDFile=/var/run/hbase/hbase-thrift.pid

#######################################
# Note: Below are cgroup options
#######################################
#Delegate=true
#CPUAccounting=true
#CPUShares=1024

[Install]
WantedBy=multi-user.target
