[Unit]
Description=The HBase master daemon
After=network.target
After=NetworkManager.target

[Service]
Type=simple
ExecStart=/usr/lib/hbase/libexec/hbase-master start
ExecStop=/usr/lib/hbase/libexec/hbase-master stop
PIDFile=/var/run/hbase/hbase-master.pid

#######################################
# Note: Below are cgroup options
#######################################
#Delegate=true
#CPUAccounting=true
#CPUShares=1024

[Install]
WantedBy=multi-user.target
